[Unit]
Description=Redshift display colour temperature adjustment
Documentation=man:redshift(1)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/redshift
Restart=on-failure

[Install]
WantedBy=graphical-session.target
