[Unit]
Description=Set keyboard map
Documentation=man:setxkbmap(1)
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap -option ctrl:nocaps

[Install]
WantedBy=graphical-session.target
